* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
    margin: 0px;
    color: #fff !important;
    background-color: #252525 !important;
}

body .header {
    display: flex;
    margin-left: 5%;
    top: 5%;
    width: 95%;
}

body .header .logo {
    display: inline-block;
    width: 25%;
}

body .header .nav {
    display: flex;
    flex-direction: row;
    width: 75%;
    align-content:center;
}


body .header .nav .searchArea input {
    height: 42px;
    width: 300px;
    border-radius: 5px;
    border: 3px solid #f39322;
    padding: 5 20px;    
}

body .header .nav .searchArea button {
    background: #f39322;
    border: 1px solid #f39322;
    color: white;
    height: 42px;
    width: 120px;
    border-radius: 5px;
    padding: 0 20px;
}

body .header .nav .contactNav {
    padding: 10px 0;
    /* background-color: white; */
    background-color: #252525;
    display: inline-block;
}

body .header .nav .contactNav a {
    /*color: #003399;*/
    color: #fff;
    text-decoration: none;
    margin-left: 20px;

}

body .header .nav .contactNav a::after {
    content: '';
    width: 0px;
    background: #003399;
    display: inline-block;
    height: 100%;
    right: -11px;
    position: absolute;
}

body .header .nav .contactNav a:hover {
    text-decoration: underline;
}

body .header .nav .contactNav a:last-child::after {
    content: unset;
}

body .header .nav .mainNav {
    padding: 10px 0;
}

body .header .nav .mainNav a {
    color: #003399;
    margin: 0 20px;
    padding: 10px 0;
    text-decoration: none;
    position: relative;
}

body .header .nav .mainNav a:hover {
    color: #d7dad9;
}

body .header .nav .mainNav a::after {
    content: '';
    position: absolute;
    width: 0px;
    right: -18px;
    height: 100%;
    top: 0px;
    display: inline-block;
    background: #0c0c2a44;
}

/* home banner carousel tagline*/
body .tagline {
    display: flex;
    float: inline-end;
    position: relative;
    color: #003399;
    background-color: rgba(240, 131, 7, 0.856);
}