* {
    box-sizing: border-box
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
    margin: 0px;
}

body .header {
    display: flex;
    margin-left: 5%;
    top: 5%;
    width: 95%;
}

body .header .logo {
    display: inline-block;
    width: 25%;
}

body .header .nav {
    display: flex;
    flex-direction: row;
    width: 75%;
    align-content:center;
}


body .header .nav .searchArea input {
    height: 42px;
    width: 300px;
    border-radius: 5px;
    border: 3px solid #f39322;
    padding: 5 20px;    
}

body .header .nav .searchArea button {
    background: #f39322;
    border: 1px solid #f39322;
    color: white;
    height: 42px;
    width: 120px;
    border-radius: 5px;
    padding: 0 20px;
}

body .header .nav .contactNav {
    padding: 10px 0;
    background-color: white;
    display: inline-block;
}

body .header .nav .contactNav a {
    color: #003399;
    text-decoration: none;
    margin-left: 20px;

}

body .header .nav .contactNav a::after {
    content: '';
    width: 0px;
    background: #003399;
    display: inline-block;
    height: 100%;
    right: -11px;
    position: absolute;
}

body .header .nav .contactNav a:hover {
    text-decoration: underline;
}

body .header .nav .contactNav a:last-child::after {
    content: unset;
}

body .header .nav .mainNav {
    padding: 10px 0;
}

body .header .nav .mainNav a {
    color: #003399;
    margin: 0 20px;
    padding: 10px 0;
    text-decoration: none;
    position: relative;
}

body .header .nav .mainNav a:hover {
    color: #d7dad9;
}

body .header .nav .mainNav a::after {
    content: '';
    position: absolute;
    width: 0px;
    right: -18px;
    height: 100%;
    top: 0px;
    display: inline-block;
    background: #0c0c2a44;
}

/* home banner image*/
body .homeBanner {
    display: block;
    position: absolute;
}

/* product banner image */
body .header .nav .productBanner {
    display: block;
    width: fit-content;
    height: auto;
}
 
/* carousel container */
body .carousel-container {
    display: inline-block;
    width: 1280px;
    height: 750px;
    position: center;
    overflow: hidden;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #003399;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
     left: 0;
     border-radius: 0%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgb(243,147,0.6);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #f39322;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}