* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat' !important;
    font-size: 2.5rem !important;
    margin: 0px;
    color: #fff !important;
    background-color: #252525 !important;

}

body .header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px 0px 70px 0px;
    width: 100%;
    height: 7vh;
}

body .header .logo {
    display: inline-block;
    justify-content: flex-start;
    width: 20%;
    height: 80px;
}

body .header .nav {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    align-content: justify;
}

body .navbar {
    width: 100%;
}

body .searchBtn {
    background: #f39322;
    color: #fff;
}

body .nav-link {
    color: #f39322 !important;
}

body .nav-link:hover {
    color: #fff;
    text-decoration: none;
}

.navbar .bg-dark {
    background-color: #252525;
}

.searchArea {
    height: 40px;
    width: 30rem !important;
    border-radius: 5px;
    border: 3px solid #f39322;
    padding: 10px 20px;    
    font-size: 1.75rem !important;
}
.searchArea input::placeholder{
    font-size: 1.75rem !important;
}

@media (min-width: 768px){
#navbarGym{
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    }
}
@media (min-width: 768px){
.searchForm{
padding-left: 2rem;
}
}

body .header .nav .searchArea button {
    background: #f39322;
    border: 1px solid #f39322;
    color: #003399;
    font-weight: bold;
    font-size: medium;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    padding: 5 5px;
}

body .header .nav .contactNav {
    padding: 5px 25px;
    display: flex;
    flex-direction: row;
}

body .header .nav .contactNav a {
    color: #f39322;
    text-decoration: none;
    margin-left: 20px;

}

body .header .nav .contactNav a::after {
    content: '';
    width: 0px;
    background: #003399;
    display: block;
    height: 80%;
    position: absolute;
}

body .header .nav .contactNav a:hover {
    text-decoration: underline;
}

body .header .nav .contactNav a:last-child::after {
    content: unset;
}

body .header .nav .mainNav {
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

body .header .nav .mainNav a {
    color: #f39322;
    margin: 0 20px;
    padding: 10px 0;
    text-decoration: none;
    position: relative;
}

body .header .nav .mainNav a:hover {
    color: #003399;
}

body .header .nav .mainNav a::after {
    content: '';
    width: 0px;
    right: 0px;
    background: #0c0c2a44;
}

/* home banner carousel tagline*/


.banner {
    display: flex;
    align-content: flex-end;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    width: 100%;
    height: 25vh;
    /*viewport height*/
    background-color: #252525;
    margin-block: 15%;
    position: relative;
}

h1 {
    font-size: 80px;
    border-radius: 70px;
    padding: 25px 10px;
    text-align: center;
    color: #fff;
}

h2 .margin {
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    margin-top: 5%;
}
h2 .margin:hover {
    text-shadow: #f39322;
    color: #003399;
}

.footer {
    display: grid;
    height: 300px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    background-color: #252525;
    gap: 10px;
}

.footer .legal {
    text-align: center;
    color: #fff;
    text-decoration: none;
}


.footer .legal:hover {
    color: #f39322;
    text-decoration: none;
}

.footer .content {
    text-align: center;
    color: #fff;
    text-transform: none;

}

.footer .content:hover {
    color: #f39322;
    text-decoration: none;
}

.footer .social {
    text-align: center;
    color: #fff;
    text-transform: none;
}

.social img{
    height: 16px;
    margin: 5px;
    cursor: pointer;
}

footer .social{
    opacity: 0.7;
    color: #f39322;
}

footer .rights {
    text-align: center;
    color: #fff;
    font-style: italic;
}

footer .rights:hover {
    color: #e8eaed;
    text-decoration: none;
}

.modal-content {
    background-color: #252525 !important;

}

.modal-dialog {
    border-color: #fff;
    border-width: 1rem;
}

body .productBanner {
    display: grid;
    width: 100%;
    height: 700px;
    background-size: cover;
    justify-content: center;
    background-position: 100%;


}

body .product-collection {
    position: absolute;
    background: #f391228f;
    justify-content: center;
    left: 40px;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 200px 30px;
}

.product-icon{
    border: #fff 3px solid;
    margin-left: 5px;
    margin-right: 5px;
}
.product-icon :first-child{
    margin-left: 0px;
    margin-right: 5px;
}
.product-icon :last-child{
    margin-left: 5px;    
    margin-right: 0px;
}
.prod-spec{
    font-size: 1.75rem;
}

#ReserveModal{
    opacity: 100%;
    background-color:rgba(0, 0, 0, 0.5)
}
.btn-gym{
    background-color:#f39322 !important; 
    color: #fff !important;
    border-radius: 25%;
}

#ReserveModal input{
    height: 35px;
    font-size: 1.75rem;
    background-color: #666666;
    border: #f39322 solid 1px;
    color: #fff!important;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ReserveModal input:first-child{
    height: 35px;
    background-color: #666666;
    border: #f39322 solid 1px;
    color: #fff!important;
    margin-top: 0px;
    margin-bottom: 10px;
}
#ReserveModal input:last-child{
    height: 35px;
    background-color: #666666;
    border: #f39322 solid 1px;
    color: #fff!important;
    margin-top: 10px;
    margin-bottom: 0px;
}
#ReserveModal input::placeholder{
    color: #fff!important;
    opacity: 0.75;
}

@media (max-width: 768px){
body .banner{
    display: flex;
    flex-direction: row-reverse;
}
}

@media only screen and (max-width:500px){
    nav-ul{
        width: 100%;
        position: absolute;
        top: 75px;
        background: #ffecd68e;
        z-index: 2;
    }
    nav ul li{

    }
}